<div class="container">
    <h2 class="text-center mt-5 mb-3">Countries Manager</h2>
    <div class="card">
        <div class="card-header">
            <a routerLink="/listCountries/create"
                class="btn btn-outline-primary float-right"
                >Create New Log Countries
            </a>
        </div>
        <div class="card-body">
      
            <form >
                <div class="form-group">
                    <label html="dateCreateInit">Initial Log Date</label>
                    <input
                        [(ngModel)]="dateCreateInit"
                        type="date"
                        class="form-control"
                        id="dateCreateInit"
                        name="dateCreateInit"/>
                </div>
                <div class="form-group">
                    <label html="dateCreateInit">Final Log Date</label>
                    <input
                        [(ngModel)]="dateCreateFinal"
                        type="date"
                        class="form-control"
                        id="dateCreateFinal"
                        name="dateCreateFinal"/>
                </div>
                <button
                    [disabled]="isFilter"
                    (click)="handleFilterLogCountries()"
                    type="button"
                    class="btn btn-outline-primary mt-3">
                    Filter Log Countries
                </button>
            </form>
            
            <br>

        <div class="table-responsive">

            <mat-table class="logCountries-table mat-elevation-z8" [dataSource]="dataSource"
               matSort matSortActive="username" matSortDirection="asc" matSortDisableClear>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button mat-button (click)="handleEdit(row)">Edit</button>
                        <button mat-button (click)="handleDelete(row)">Delete</button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>#</mat-header-cell>
                    <mat-cell *matCellDef="let logCountries">{{logCountries.id}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="username">
                    <mat-header-cell *matHeaderCellDef>User Name</mat-header-cell>
                    <mat-cell class="username-cell"
                            *matCellDef="let logCountries">{{logCountries.username}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="request_timestamp">
                    <mat-header-cell *matHeaderCellDef>Request Timestamp</mat-header-cell>
                    <mat-cell class="request_timestamp-cell"
                            *matCellDef="let logCountries">{{logCountries.request_timestamp}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="num_countries_returned">
                    <mat-header-cell *matHeaderCellDef>Number of Countries Consulted</mat-header-cell>
                    <mat-cell class="num_countries_returned-cell"
                            *matCellDef="let logCountries">{{logCountries.num_countries_returned}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="countries_details">
                    <mat-header-cell *matHeaderCellDef>Countries Details</mat-header-cell>
                    <mat-cell class="countries_details-cell"
                            *matCellDef="let logCountries">{{logCountries.countries_details}}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                
            </mat-table>

        </div>

        @if (totalItems>10) {
            <mat-paginator [length]="totalItems" [pageSize]="pageSize"
                           [pageSizeOptions]="[10, 20, 30, 40, 50]"></mat-paginator>
        }

        </div>
    </div>
</div>
