<h2 class="text-center mt-5 mb-3">Show Project</h2>
<div class="card">
    <div class="card-header">
        <a routerLink="/listCountries/index"
            class="btn btn-outline-info float-right"
            >View All Log Countries
        </a>
    </div>
    <div class="card-body">
        <b className="text-muted">User Name:</b>
        <p>{{logCountries.username}}</p>
        <b className="text-muted">Request Timestamp:</b>
        <p>{{logCountries.request_timestamp}}</p>
        <b className="text-muted">Number of Countries Consulted:</b>
        <p>{{logCountries.num_countries_returned}}</p>
        <b className="text-muted">Countries Details:</b>
        <p>{{logCountries.countries_details}}</p>
    </div>
</div>